<section class="spanish-team">
  <header class="container">
    <h1>{{literals.title}}</h1>
    <p>{{literals.intro}}</p>
  </header>
  <carousel [carouselItems]="spanishTeamImages"></carousel>
</section>
