@import '../../../../styles'

.contact-form
  margin: 15px auto
  input
    +border-radius(0)
    @media (max-width: $mobile-size)
      padding: 16px
  .btn
    width: 100%
    &:focus
      background-color: $main-blue
      border-color: $main-blue
