<section class="contact-form container">
  <form novalidate [formGroup]="form" *ngIf="!responseMessage">
    <div class="row">
      <div
        class="form-group col-sm-6"
        [ngClass]="{
          'has-success': form.controls['name'].valid && form.controls['name'].dirty,
          'has-danger': form.controls['name'].invalid && form.controls['name'].dirty
        }">
        <label class="form-control-label" for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter name"
          formControlName="name"
          [ngClass]="{
            'form-control-success': form.controls['name'].valid && form.controls['name'].dirty,
            'form-control-danger': form.controls['name'].invalid && form.controls['name'].dirty
          }">
        <small
          class="form-text form-control-feedback"
          *ngIf="form.controls['name'].invalid && form.controls['name'].dirty">
          {{errors.emptyName}}
        </small>
      </div>
      <div
        class="form-group col-sm-6"
        [ngClass]="{
          'has-success': form.controls['email'].valid && form.controls['email'].dirty,
          'has-danger': form.controls['email'].invalid && form.controls['email'].dirty
        }">
        <label class="form-control-label" for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
          [ngClass]="{
            'form-control-success': form.controls['email'].valid && form.controls['email'].dirty,
            'form-control-danger': form.controls['email'].invalid && form.controls['email'].dirty
          }">
        <small
          class="form-text form-control-feedback"
          *ngIf="form.controls['email'].invalid && form.controls['email'].dirty">
          {{form.controls['email'].errors.validateEmail.error}}
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="submit()"
          [disabled]="!form.valid">Send</button>
      </div>
    </div>
  </form>
  <p *ngIf="responseMessage">{{responseMessage}}</p>
  <div *ngIf="!isReady" class="loading-text-wrapper">
    <span class="loading-text">Sending contact...</span>
  </div>
</section>
