<section class="about-us">
  <nav class="container">
    <a class="btn btn-primary col-sm-4" routerLink="dutch-team" [routerLinkActive]="['active']">
      View dutch team
    </a>
    <a class="btn btn-primary col-sm-4" routerLink="spanish-team" [routerLinkActive]="['active']">
      View spanish team
    </a>
  </nav>
  <router-outlet></router-outlet>
  <contact-form></contact-form>
</section>
