@import '../../../../styles'

.carousel
  height: 202px
  .carousel-inner, .carousel-item
    height: 100%
    background: $dark-blue
    .carousel-image
      height: 100%
      width: 100%
      margin: 0 auto
      max-width: 186px
      opacity: 0.5
      &:hover
        opacity: 1
      &.static-image
        background-size: 186px 202px
  .carousel-item
    +transition(0.2s, ease-in-out)
  .carousel-control-prev, .carousel-control-next
    background: $main-blue
