<section
    id="carousel"
    data-interval="false"
    class="carousel slide"
    data-ride="carousel"
    (window:mousemove)="onMouseMove($event)">
    <div class="carousel-inner">
      <div
        *ngFor="let carouselItem of carouselItems; let isFirst = first"
        class="carousel-item"
        [ngClass]="{ active: isFirst }">
        <div
          #teamMember
          class="carousel-image"
          [style.background-image]="setBackgroundImage(carouselItem)"
          [ngClass]="{ 'static-image': !shouldImageFollowMouse }"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" data-slide="prev" role="button">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" data-slide="next" role="button">
      <span class="carousel-control-next-icon"></span>
    </a>
    <div *ngIf="!isReady" class="loading-text-wrapper">
      <span class="loading-text">Loading images...</span>
    </div>
</section>
