<section class="dutch-team">
  <header class="container">
    <h1>{{literals.title}}</h1>
    <p>{{literals.intro}}</p>
  </header>
  <carousel [carouselItems]="dutchTeamImages" [shouldImageFollowMouse]="true"></carousel>
</section>
