$main-blue: #1eb9dd
$dark-blue: #212837
$white-backdrop: rgba(255, 255, 255, 0.8)

$mobile-size: 767px

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=transition($time, $type)
  -webkit-transition: -webkit-transform $time $type
  transition: -webkit-transform $time $type
  transition: transform $time $type
  transition: transform $time $type, -webkit-transform $time $type

.btn
  background-color: $main-blue
  border-color: $main-blue
  +border-radius(0)
  @media (max-width: $mobile-size)
    padding: 16px
  &:hover, &:focus, &.active
    background-color: $dark-blue
    border-color: $dark-blue
    box-shadow: none
    color: white
    cursor: pointer
  &:disabled
    background-color: $main-blue
    border-color: $main-blue
    cursor: not-allowed


.loading-text-wrapper
  position: absolute
  top: 0
  width: 100%
  height: 100%
  background: $white-backdrop
  .loading-text
    position: relative
    top: calc(50% - 9px)
    left: calc(50% - 66px)
